{{#partial "content"}}
    {{#if Animal}}
        {{#each Animal}}
            <table style="width:100%">
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                </tr>
                <tr>
            <td>{{name}}</td>
            <td>{{location}}</td>
                </tr>
            </table>


        {{/each}}
    {{else}}
        <p>not yet</p>

    {{/if}}

{{/partial}}
{{>layout.hbs}}