{{#partial "content"}}
    <h3>Please fill this form to report of the endangeredAnimal</h3>
    <form action ="/post" method="Post">
        <div class="row">
            <div class="col-3">
                <label for ="Id">Id</label>
                <input id ="Id" class="form-control" name ="Id" type="text">
            </div>
            <div class="col-3">
                <label for="name" >Name </label>
                <input id="name" class="form-control" name ="name" type="text">
            </div>
            <div class="col-3">
                <label for="health" >Health Status</label>
                <select id="powers" class="form-control" name="powers" type="text">
                    <option>Healthy</option>
                    <option>Okay</option>
                    <option>Ill</option>
                </select>
            </div>
            <div class="col-3">
                <label for="age" >Age</label>
                <select id="age" class="form-control" name="age" type="text">
                    <option>1-3 yrs-newborn</option>
                    <option>3-10 yrs-young</option>
                    <option>10 and above-adult</option>
                </select>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">submit</button>
    </form>
{{/partial}}
{{>layout.hbs}}