{{#partial "content"}}
    <h3>Please fill this form to report of the endangeredAnimal</h3>
    <form action="/elephant" method="Post">
        <div class="row">
            <div class="col-3">
                <label for ="animalid">AnimalId</label>
                <input id ="animalid" class="form-control" name ="animalid" type="number">
            </div>
            <div class="col-3">
                <label for="name" >Ranger Name </label>
                <input id="name" class="form-control" name ="name" type="text">
            </div>
            <div class="col-3">
                <label for="health" >Health Status</label>
                <select id="health" class="form-control" name="health" type="text">
                    <option>Healthy</option>
                    <option>Okay</option>
                    <option>Ill</option>
                </select>
            </div>
            <div class="col-3">
                <label for="location" >Location</label>
                <input id="location" class="form-control" name ="location" type="text">
            </div>
            <div class="col-3">
                <label for="age" >Age</label>
                <select id="age" class="form-control" name="age" type="number">
                    <option>3 </option>
                    <option>3</option>
                    <option>10</option>
                </select>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">submit</button>
    </form>
{{/partial}}
{{>layout.hbs}}