{{#partial "content"}}
    <h1>Wildlife-Tracker</h1>
    <br>
    <img src="https://bit.ly/2xDbqVp">
    <img src="https://bit.ly/2YCNFrF">
    <img src="https://bit.ly/2YICIVz">


{{/partial}}
{{>layout.hbs}}