{{#partial "content"}}
    <h2>Please fill the form to report </h2>
   <form action ="/post" method="Post">
    <div class="row">
        <div class="col-3">
            <label for="animalId" >AnimalId</label>
            <input id="animalId" class="form-control" name="animalId" type="number">
        </div>
        <div class="col-3">
            <label for ="name">Ranger Name</label>
            <input id ="name" class="form-control" name ="name" type="text">
        </div>
        <div class="col-3">
            <label for="location">location</label>
            <input id="location" class="form-control" name="location" type="text">
        </div>
    </div>
       <br>
       <button type="submit" class="btn btn-primary">submit</button>
   </form>
{{/partial}}
{{>layout.hbs}}
