{{#partial "content"}}
    {{#if sights}}
        {{#each sights}}
            <table style="width:100%">
                <tr>
                    <th>Animal id</th>
                    <th>Location</th>
                    <th>Ranger-name</th>
                </tr>
                <tr>
            <td>{{animal_id}}</td>
            <td>{{rangername}}</td>
            <td>{{location}}</td>
                </tr>
            </table>



        {{/each}}


    {{/if}}

{{/partial}}
{{>layout.hbs}}