{{#partial "content"}}
    {{#if sights}}
        {{#each sights}}
            <p>{{animal_id}}</p>
            <p>{{rangername}}</p>
            <p>{{location}}</p>



        {{/each}}


    {{/if}}

{{/partial}}
{{>layout.hbs}}